Win10IconList16 RCDATA "Icon\\Win10IconList16.png"
Win10ImageList32 RCDATA "Icon\\Win10ImageList32.png"
OldIconList16 RCDATA "Icon\\OldIconList16.png"
OldIconList20 RCDATA "Icon\\OldIconList20.png"
OldIconList24 RCDATA "Icon\\OldIconList24.png"
OldIconList32 RCDATA "Icon\\OldIconList32.png"
OldImageList32 RCDATA "Icon\\OldImageList32.png"
OldImageList44 RCDATA "Icon\\OldImageList44.png"
Win10IconList20 RCDATA "Icon\\Win10IconList20.png"
Win10IconList32 RCDATA "Icon\\Win10IconList32.png"
Win10ImageList44 RCDATA "Icon\\Win10ImageList44.png"
Win8IconList16 RCDATA "Icon\\Win8IconList16.png"
Win8ImageList32 RCDATA "Icon\\Win8ImageList32.png"
Win8IconList20 RCDATA "Icon\\Win8IconList20.png"
Win8IconList24 RCDATA "Icon\\Win8IconList24.png"
Win8IconList32 RCDATA "Icon\\Win8IconList32.png"
Win8ImageList44 RCDATA "Icon\\Win8ImageList44.png"
Win10IconList24 RCDATA "Icon\\Win10IconList24.png"
Win11Icons16 RCDATA "Icon\\Win11Icons16.png"
Win11Icons20 RCDATA "Icon\\Win11Icons20.png"
Win11Icons24 RCDATA "Icon\\Win11Icons24.png"
Win11Icons32 RCDATA "Icon\\Win11Icons32.png"
Win11Images32 RCDATA "Icon\\Win11Images32.png"
Win11Images44 RCDATA "Icon\\Win11Images44.png"
