FileUpdate0 RCDATA "__temp\\DesktopManager64.gzip"

STRINGTABLE
{
	8000, "DesktopManager64.exe" // OLD MAIN FILE
	8001, "DesktopManager64.exe" // NEW MAIN FILE
	
	// UPDATE FILES
	8002, "DesktopManager64.exe"

	// MUTEX
	8950, "DesktopManagerMutex"
}
